<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">
      <!-- {{ site.title | escape }} -->
      <img src="/assets/logo.png" alt="logo" height="50" />
    </h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><b>Name</b> {{ site.author.name | escape }} </li>
          <li><b>Representative</b> {{ site.author.representative | escape }} </li>
          <li><b>Address</b> {{ site.author.address | escape }} </li>
          <li><b>Email</b> {{ site.author.email | escape }} </li>
          
          <!-- <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%} -->
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
